/**
 * Site header
 */
.site-header {
    background-color: $brand-color;
    color: $grey-color-light;
    padding-top: 1em;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    display: block;
    font-size: 3em;
    line-height: 100%;
    margin: 0;
    letter-spacing: -1px;

    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-description {
    display: block;
    font-size: 1em;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.site-nav {
    background-color: $grey-color-dark;
    border: 2px solid lighten($grey-color-dark, 10%);
    border-left: none;
    border-right: none;
    line-height: $base-line-height;
    margin-top: 1em;
    padding: 0.5em 0;
    width: 100%;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $brand-color;
    border-top: 2px solid darken($brand-color, 10%);
    color: $grey-color-light;
    margin-top: 2em;
    padding: $spacing-unit 0;

    a {
        color: $grey-color-light;
        &:visited {
            color: $grey-color-light;
        }
    }
}

.footer-heading {
    color: $grey-color-light;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.badges {

  li {
    list-style-type: none;
  }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    ul {
        list-style: none;

        li {
            list-style-image: none;
            list-style-type: none;

            label {
                cursor: pointer;
            }

            .checked {
                text-decoration: line-through;
                color: lighten($text-color, 50%);

                a,
                a:visited {
                    color: lighten($text-color, 50%);
                }

                pre,
                code {
                    background-color: lighten($text-color, 75%);
                    text-decoration: line-through;
                }

                input[type=checkbox] {
                  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
                  opacity: 0.8;
                }
            }

            input[type=checkbox] {
                margin-right: 5px;
            }
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        margin-bottom: 0;
        margin-top: $spacing-unit / 2;


        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
