@media print {
    .site-nav {
        display: none;
    }

    .site-header {
        background-color: #fff;
        border-bottom: 1px solid $text-color;
        padding: 1em 0;
        color: $text-color;

        .site-title {
            color: $text-color;
        }
    }

    .site-footer {
        display: none;
    }

    a,
    a:visited,
    a:active {
      color: $text-color;
    }

    .page-content a:after {
      content: " url:" attr(href) " ";
      font-size: 0.8em;
      font-weight: normal;
    }
}
